{%extends 'base.html' %}
{%block title%}
    Create Contest
{%endblock%}
{%block content%}
<div class="container">
    <h3>{{contest.name}}</h3>
    <div class="text-center">
<!-- TO ADD LATER
                        <div style="margin-bottom: 5px" class="card bg-dark">
                            <div class="card-body">
<div class="col-nd-6">
<div class="row" style="margin-top:10px; margin-left:20px; margin-bottom:10px;">
    <div class="col-2">Instructions</div>
    <div class="col-10">

    </div>
</div></div></div></div>-->
                                         <br>
        <div style="margin-bottom: 5px" class="card bg-dark">
                             <div class="card-body">
                                <div class="col-nd-6">
<div class="row" style="margin-top:10px; margin-left:20px;">

                                      <div class="col-2">Question Type</div>
                                        <div class="col-6">Question</div>
                                        <div class="col-2">Answer</div>
                                    <div class="col-1">Edit</div>
                                    <div class="col-1">Move</div>


</div></div>

                        </div>
                    </div>

<!--    <div class="row">-->
                {%for x in range(length) %}
                {%set question=Questions.query.filter_by(contest=contest.id, position=x).first()%}
        {%set link2='/question/'~question.id%}

                    <div class="col-nd-6">
                        <div style="margin-bottom: 5px" class="card bg-dark">
                            <div class="card-body">


<div class="row" style="margin-top:10px; margin-left:20px;">

                                      <div class="col-2"> {{question.type}}</div>
                                        <div class="col-6">{{question.question}}</div>
                                       {%if question.type!="Text" %} <div class="col-2">{{question.answer}}</div>
                                        {%else%}<div class="col-2"></div>
    {%endif%}
    <div class="col-1"><a class="btn btn-primary" href="{{link2}}">Edit</a></div>

    <div class="col-1">
        {%if x!=0%}
        <form method="POST">
            {{MoveUp.hidden_tag()}}
            <input id="tomoveup" name="tomoveup" type="hidden" value={{question.position}}>
              {{MoveUp.submit2(class="btn btn-primary")}}
          </form>
        {%endif%}
        {%if x!=length-1%}
        <form method="POST">
            {{MoveDown.hidden_tag()}}
            <input id="tomovedown" name="tomovedown" type="hidden" value={{question.position}}>
              {{MoveDown.submit3(class="btn btn-primary")}}
          </form>
        {%endif%}


<!--        <a class="btn btn-primary" href="{{link2}}">&#x2191-->
<!--    -->
<!--    </a>-->
<!--    <a class="btn btn-primary" href="{{link2}}">&#x2193</a>-->
    </div>



</div>

                        </div>
                    </div>
                    </div>
                {%endfor%}
        <form method="POST">
            {{CreateNewForm.hidden_tag()}}
              {{CreateNewForm.submit1(class="btn btn-primary")}}
          </form>
            </div>
<!--        </div>-->

</div>

</div>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
{%endblock%}


