{%extends 'base.html' %}
{%block title%}
{{contest.name}}
{%endblock%}
{%block jq%}

{%endblock%}
{%block content%}
    <br>

    <div class="row" style="margin-top:20px; margin-left:3px;">
        <div class="col-10">
        <h3>{{contest.name}}</h3>
        <form method="POST" id="contestForm">
            {%set ctr=namespace(value=0)%}
        {% for x in range(Questions.query.filter_by(contest=contest.id).count()) %}
        {% set question=Questions.query.filter_by(contest=contest.id,position=x).first()%}


        <div class="col-nd-6">
                        <div style="margin-bottom: 5px" class="card bg-dark">
                            <div class="card-body">


<div class="row text-center" style="margin-top:10px; margin-left:20px;">
    {% if question.type=="Text"%}
<div class="col-12">  <p class="card-text" data-align="center">{{question.question}}</p></div>
    {%endif%}
    {% if question.type=="Free Response Question" %}
                                      <div class="col-10">  <p class="card-text" data-align="center">{{question.question}}</p></div>
                                        <div class="col-2">{{form.answers[ctr.value].answer(class="form-control",placeholder="Answer")}}</div>
    {%set ctr.value=ctr.value+1%}{%endif%}
</div>

                        </div>
                    </div>
                    </div>



      {%endfor%}
            <br>
                    {{form.submit1(class="btn btn-lg btn-block btn-primary")}}

        </form>
    </div>
<div class="col-2">
    <br><br>
    Time Remaining:
<h5 id="demo"></h5>
</div>
</div>


<script>
// Set the date we're counting down to

var countDownDate = {{result.endtime}};

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = (new Date().getTime());

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var hours = Math.floor(distance / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("contestForm").submit();
    document.getElementById("demo").innerHTML = "EXPIRED";

  }
}, 1000);
</script>
{%endblock%}
