{%extends 'base.html' %}
{%block title%}
    Options
{%endblock%}
{%block content %}
<h2>More Options</h2>
<div class="container">

    <form method="POST" class=form-register" style="color:white">

        {{form.hidden_tag()}}

        <br>

{{form.rename.label()}}
{{form.rename(class="form-control",value=contest.name)}}<br>
        {{form.timehrs.label()}}
<div class="d-flex flex-row">
  <div class="p-2" style="width: 7%">{{form.timehrs(class="form-control",value="%02d"%(contest.time/3600)|int)}}</div>
    <div class="w-5 p-2"style="width: 1%">:</div>
  <div class="w-1 p-2"style="width: 7%">{{form.timemins(class="form-control",value="%02d"%(((contest.time-contest.time%60)/60)%60,))}}</div>
    <div class="w-1 p-2"style="width: 1%">:</div>
  <div class="w-1 p-2"style="width: 7%">{{form.timesecs(class="form-control",value="%02d"%(contest.time%60,))}}</div>
</div>


        <br>
        {{form.save(class="btn btn-lg btn-block btn-primary")}}
        <br>


</form>

{%include 'includes/deletemodal.html'%}
 <button class="btn btn-outline btn-danger" data-toggle="modal" data-target="#Modal-Delete-{{contest.id}}">Delete</button>

</div>

{%endblock%}

