{%extends 'base.html' %}
{%block title%}
    Welcome to the Contest Platform
{%endblock%}
{%block content%}


        <!--<div class="col-md-5 p-lg-5 mx-auto my-5">-->
<div>
            <h1 class="display-4 font-weight-normal">My Contests</h1>
            <p class="lead font-weight-normal">Text here</p>

            <!--<a class="btn btn-primary" href="{{ url_for('my_contests_page') }}">Upload a File</a>-->
        <!--<form action="/create" method="POST" enctype="multipart/form-data">
            <label>Select File</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="file" id="file">
                <label class="custom-file-label" for="file">Select file...</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload Image</button>
             <input type="text" value="hello" />

        </form>-->
</div>

        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    <!--</div>--
{%endblock%}