{%extends 'base.html' %}
{%block title%}
    Welcome to the Contest Platform
{%endblock%}
{%block content%}


        <!--<div class="col-md-5 p-lg-5 mx-auto my-5">-->
<div>
            <h1 class="display-4 font-weight-normal">My Contests</h1>



            <!--<a class="btn btn-primary" href="{{ url_for('my_contests_page') }}">Upload a File</a>-->
        <!--<form action="/create" method="POST" enctype="multipart/form-data">
            <label>Select File</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="file" id="file">
                <label class="custom-file-label" for="file">Select file...</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload Image</button>
             <input type="text" value="hello" />

        </form>-->
</div>

        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    <!--</div>-->
{%for contest in ownedcontests %}
{%set link='create/'~contest.id%}
{%set link2='moreoptions/'~contest.id%}

                    <div class="col-nd-6">
                        <div style="margin-bottom: 5px" class="card bg-dark">
                            <div class="card-body">


<div class="row" style="margin-top:10px; margin-left:20px;">
                                      <div class="col-8">  <h4 class="card-text" data-align="center">{{contest.name}}</h4></div>
                                        <div class="col-1"><a class="btn btn-primary" data-align="right" href="{{link}}">Edit</a></div>
                                        <div class="col-1"><a class="btn btn-primary" data-align="right" href="#">Contest</a></div>
                                        <div class="col-2"><a class="btn btn-primary" href="{{link2}}">More Options</a></div>
</div>

                        </div>
                    </div>
                    </div>
                {%endfor%}
<br>
<div class="text-center">
    <form method="POST">
            {{CreateNewForm.hidden_tag()}}
              {{CreateNewForm.submit(class="btn btn-primary")}}
          </form>
</div>

{%endblock%}